.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    width: 200px;
    height: 400px;
    border: solid 2px blue;
}

#display {
    width: 100%;
    text-align: right;
    vertical-align: bottom;
    font-size: 24px;
}

.btn {
    width: 33%;
}

#btnClear {
    width: 100%;

}